@{
    ViewData["Title"] = "Recepcionista";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana Principal de Recepcionista</title>
    <link rel="stylesheet" href="~/css/receptionist-style.css">
</head>
<body>
    <div class="container">
        
        <main>
            <h1>BIENVENIDO</h1>
            <p>VENTANA PRINCIPAL DE RECEPCIONISTA</p>
            <div class="logo-container">
				<img src="~/images/imagen de whatsapp 2024-07-03 a las 19.17.39_f0edae47.jpg" alt="Logo Placeholder" class="logo">
            </div>
        </main>
    </div>
</body>
</html>


