@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventana del Admin</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container">

        <main>
            <h1>BIENVENIDO</h1>
            <p>ADMINISTRACION DE VIAJES TURISTICOS "AL - VALHALLA" TOURS</p>
            <div class="logo-container">
				<img src="~/images/logo2.jpg" alt="Logo Placeholder" class="logo">
            </div>
        </main>
    </div>
</body>
</html>




